.header {
    display: flex;
    justify-content: space-between;
}

.header_title {
    font-size: 60px;
    color: rgb(0, 57, 90)
}

.header_contents {
    display: flex;
    justify-content: space-evenly;
}

.header_contents_description {
    display: flex;
    list-style: none;
}

.header_contents_menu {
    height: 45px;
    cursor: pointer;
}

.body {
    width: 1000px;
    height: 550px;
    text-align: center;
    transform: translate(12%);
}

.topic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 50px;
}

.topic_contents1_about_title {
    font-size: 20px;
}

.topic_contents1_about_tip {
    display: flex;
}

.topic_contents1_about_tip_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

.topic_contents2_news_title {
    font-size: 20px;
}

.topic_contents2_news_tip {
    display: flex;
    justify-content: space-evenly;
}

.topic_contents2_news_tip_parts {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.topic_contents2_news_tip_parts_image {
    width: 140px;
    height: 80px;
}

.topic_contents2_news_button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.topic_contents3_cases_title {
    font-size: 20px;
}

.topic_contents3_cases_tip {
    display: flex;
    justify-content: space-evenly;
}

.topic_contents3_cases_tip_parts_image {
    width: 140px;
    height: 80px;
}

.topic_contents3_cases_tip_parts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

.topic_contents3_cases_button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}

#menu {
    right: -180px;
    background: #f19a37;
    min-height: 100%;
    width: 180px;
}

#show,#hide {
    float: right;
}

.menu-open {
    height: 100%;
    overflow-x: hidden;
}